In [4]:
# Need to remember to do at start of each session
import pandas as pd

In [55]:
df = pd.read_csv(r"C:\Users\srsch\OneDrive\Desktop\weather data Sucheion.csv")

In [57]:
#verify AND check data before trying to merge
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   time                      8760 non-null   object
 1   temperature_2m (Â°C)      8760 non-null   float64
 2   relative_humidity_2m (%)  8760 non-null   int64
 3   dew_point_2m (Â°C)        8760 non-null   float64
 4   precipitation (mm)        8760 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 342.3+ KB
None

In [58]:
#Checking Column names again before I change to date
print(df.columns)

Index(['time', 'temperature_2m (Â°C)', 'relative_humidity_2m (%)',
       'dew_point_2m (Â°C)', 'precipitation (mm)'],
      dtype='object')

In [60]:
#Changing the column name from time to date
df.rename(columns={"time": "date"}, inplace=True)

#See the first rows and inspect data types and columns
print(df.head(20))  
print(df.info())

                date  temperature_2m (Â°C)  relative_humidity_2m (%)  \
0   2018-01-01T00:00                  -1.3                        63
1   2018-01-01T01:00                  -1.5                        65
2   2018-01-01T02:00                  -0.9                        64
3   2018-01-01T03:00                  -1.4                        66
4   2018-01-01T04:00                  -1.7                        66
5   2018-01-01T05:00                  -2.1                        68
6   2018-01-01T06:00                  -2.4                        68
7   2018-01-01T07:00                  -2.7                        69
8   2018-01-01T08:00                  -2.7                        67
9   2018-01-01T09:00                   0.2                        57
10  2018-01-01T10:00                   2.5                        50
11  2018-01-01T11:00                   4.0                        37
12  2018-01-01T12:00                   5.0                        37
13  2018-01-01T13:00                   5.6                        37
14  2018-01-01T14:00                   5.8                        39
15  2018-01-01T15:00                   5.8                        38
16  2018-01-01T16:00                   5.1                        42
17  2018-01-01T17:00                   3.6                        48
18  2018-01-01T18:00                   1.1                        58
19  2018-01-01T19:00                  -0.7                        67

    dew_point_2m (Â°C)  precipitation (mm)
0                 -7.5                 0.0
1                 -7.3                 0.0
2                 -7.0                 0.0
3                 -7.0                 0.0
4                 -7.2                 0.0
5                 -7.2                 0.0
6                 -7.5                 0.0
7                 -7.7                 0.0
8                 -7.9                 0.0
9                 -7.3                 0.0
10                -7.0                 0.0
11                -9.3                 0.0
12                -8.6                 0.0
13                -7.8                 0.0
14                -7.3                 0.0
15                -7.3                 0.0
16                -6.6                 0.0
17                -6.3                 0.0
18                -6.3                 0.0
19                -6.1                 0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      8760 non-null   object
 1   temperature_2m (Â°C)      8760 non-null   float64
 2   relative_humidity_2m (%)  8760 non-null   int64
 3   dew_point_2m (Â°C)        8760 non-null   float64
 4   precipitation (mm)        8760 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 342.3+ KB
None

In [61]:
#converting the the date
#Since the date data has a T in it.  I will change to a string and then remove the T.
#Adding the \u202C to remove the invisiable unicode characters that might be part of the dataset and giving me trouble with formatting
df["date"] = df["date"].astype(str).str.strip().str.replace("T", " ").str.replace("\u202C", "") 

#originally tryied to use%y-%m-%d %H:%M. however, will try the pandas auto detect method.  fingers crossed
df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [62]:
#checking for the change by view the first few rows 9really looking for my data not to be NaT for date.
print(df.head())  
#inspect the data type and column stucture
print(df.info())

                 date  temperature_2m (Â°C)  relative_humidity_2m (%)  \
0 2018-01-01 00:00:00                  -1.3                        63
1 2018-01-01 01:00:00                  -1.5                        65
2 2018-01-01 02:00:00                  -0.9                        64
3 2018-01-01 03:00:00                  -1.4                        66
4 2018-01-01 04:00:00                  -1.7                        66

   dew_point_2m (Â°C)  precipitation (mm)
0                -7.5                 0.0
1                -7.3                 0.0
2                -7.0                 0.0
3                -7.0                 0.0
4                -7.2                 0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      8760 non-null   datetime64[ns]
 1   temperature_2m (Â°C)      8760 non-null   float64
 2   relative_humidity_2m (%)  8760 non-null   int64
 3   dew_point_2m (Â°C)        8760 non-null   float64
 4   precipitation (mm)        8760 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 342.3 KB
None

In [65]:
#verify that there are no unexpected values 
print(df["date"].unique())  # Shows all unique values

<DatetimeArray>
['2018-01-01 00:00:00', '2018-01-01 01:00:00', '2018-01-01 02:00:00',
 '2018-01-01 03:00:00', '2018-01-01 04:00:00', '2018-01-01 05:00:00',
 '2018-01-01 06:00:00', '2018-01-01 07:00:00', '2018-01-01 08:00:00',
 '2018-01-01 09:00:00',
 ...
 '2018-12-31 14:00:00', '2018-12-31 15:00:00', '2018-12-31 16:00:00',
 '2018-12-31 17:00:00', '2018-12-31 18:00:00', '2018-12-31 19:00:00',
 '2018-12-31 20:00:00', '2018-12-31 21:00:00', '2018-12-31 22:00:00',
 '2018-12-31 23:00:00']
Length: 8760, dtype: datetime64[ns]

In [66]:
#one last check before I work on merging my data with the steel project
print(df.dtypes)
print(df["date"].head())

date                        datetime64[ns]
temperature_2m (Â°C)               float64
relative_humidity_2m (%)             int64
dew_point_2m (Â°C)                 float64
precipitation (mm)                 float64
dtype: object
0   2018-01-01 00:00:00
1   2018-01-01 01:00:00
2   2018-01-01 02:00:00
3   2018-01-01 03:00:00
4   2018-01-01 04:00:00
Name: date, dtype: datetime64[ns]

In [68]:
#saving my weatherdataclean as a CSV file
df.to_csv(r"C:\Users\srsch\OneDrive\Desktop\cleaned_weather_data.csv", index=False)