In [1]:
import os
from datetime import datetime

# Set path to Downloads folder
downloads_path = r"C:\Users\srsch\Downloads"

# Get all files with their modification times
files = [(f, os.path.getmtime(os.path.join(downloads_path, f))) for f in os.listdir(downloads_path)]

# Sort files by modification time (newest first)
files_sorted = sorted(files, key=lambda x: x[1], reverse=True)

# Print sorted files with timestamps
for f, t in files_sorted[:10]:  # Limit to 10 newest files
    print(f"{f} - Last Modified: {datetime.fromtimestamp(t)}")

archive (2).zip - Last Modified: 2025-04-25 11:14:56.415047
246856249459.JPEG - Last Modified: 2025-04-21 12:10:39.980797
Screenshot_21-4-2025_12137_inverness-mi.com.jpeg - Last Modified: 2025-04-21 12:01:38.336217
Anaconda3-2024.10-1-Windows-x86_64.exe - Last Modified: 2025-04-17 19:36:08.515884
winedata2.xlsx - Last Modified: 2025-04-17 11:33:02.938034
CustomTheme.json - Last Modified: 2025-04-16 13:24:04.580700
archive (1) - Last Modified: 2025-04-15 13:29:14.680106
archive (1).zip - Last Modified: 2025-04-15 13:28:15.340314
JohnSusanSchnitzelTax.pdf - Last Modified: 2025-04-15 13:06:46.353849
Screenshot_12-4-2025_143110_www.bing.com.jpeg - Last Modified: 2025-04-12 14:31:10.776064

In [4]:
import pandas as pd
zip_path = r"C:\Users\srsch\Downloads\archive (2).zip"  # Use 'r' for raw string format

if os.path.exists(zip_path):  # Check if the file exists
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall("unzipped_data")
else:
    print("File not found. Check the path or filename.")

NameError: name 'zipfile' is not defined

In [5]:
df = pd.read_csv(r"C:\Users\srsch\unzipped_data\Steel_industry_data.csv")

In [6]:
df.head()  # Shows the first few rows

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,Weekday,Monday,Light_Load
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,Weekday,Monday,Light_Load
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,Weekday,Monday,Light_Load
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,Weekday,Monday,Light_Load
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,Weekday,Monday,Light_Load

In [ ]:
#look for missing values
df.isnull().sum()

In [ ]:
#check if all columns have correct types
df.info()

In [ ]:
#viewing more rows to see if the numbers added to date is stanard times.  Increase
pd.set_option('display.max_rows', None)
df.head(100)

In [ ]:
#Fixing errors with date format and then extract the date and time in seperate columns.
#based on viewing date column, the date format is DD/MM/YYYY HH:MM, but pandas defaults do not include HH:MM.
#Defining the format with pandas on how to interpret the date values.   
#Using errors='coerce' to replace invalid values with NaT to prevent conversion fail. (%Y, not %y)
df["date"] = pd.to_datetime(df["date"], format="%d/%m/%Y %H:%M", errors="coerce")

#check datetime format 
df["date"] = pd.to_datetime(df["date"]) 
#extract date to new column named date_only
df["date_only"] = df["date"].dt.date 
#extract time to new column time_only
df["time_only"] = df["date"].dt.time

In [ ]:
#no errors, so checking column values and info
df.info()
df.head(100)

In [ ]:
#converting time into Numeric values.  #for future, if see trends might seperate to time of day as well or seperate columns of mins/hours
#Instead of seconds since midnight, converting to decimal format - ie. 12:30 would be 12.50  
df["time_numeric_dec"] = df["date"].dt.hour + (df["date"].dt.minute / 60)

In [ ]:
#no errors, so checking column values and info
df.info()
df.head(100)

In [ ]:
#want to have options for future analysis, creating another time column
#convert time_only to numerical seconds since midnight 
df["time_seconds_since_midnight"] = df["date"].dt.hour * 3600 + df["date"].dt.minute * 60 + df["date"].dt.second

In [ ]:
#no errors, so checking column values and info
df.info()
df.head(100)

In [ ]:
import pandas as pd  # Make sure Pandas is imported

df.info()